# macOS
.DS_Store

# Build artifacts - mpy-cross
mpy-cross/build/

# Build artifacts - Amiga port (sauf le binaire final)
ports/amiga/build/**
!ports/amiga/build/micropython

# Python bytecode
__pycache__/
*.pyc

# Claude Code
CLAUDE.md

# Mail credentials for samples/test_smtplib_online.py
mail_credentials.txt
ports/amiga/samples/mail_credentials.txt
ports/amiga/mail_credentials.txt
